altgraph==0.17.4
blinker==1.6.2
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.4
et-xmlfile==1.1.0
Flask==3.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
numpy==1.26.0
openpyxl==3.1.2
packaging==23.2
pandas==2.1.1
pdfminer.six==20221105
pdfplumber==0.10.2
pefile==2023.2.7
Pillow==10.0.1
pycparser==2.21
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pypdfium2==4.20.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
six==1.16.0
tzdata==2023.3
Werkzeug==3.0.0
